@model LMS.Models.Book

@{
    ViewData["Title"] = "Add Book";
}

<a onclick="history.back()" class="btn btn-outline-secondary mb-3">
    <i class="bi bi-arrow-left"></i> Back
</a>

<h2>Add New Book</h2>

<form asp-action="Create" asp-controller="Books" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Genre" class="form-label"></label>
        <input asp-for="Genre" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" type="number" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Location</label>
        <input asp-for="Location" class="form-control" placeholder="Enter shelf or section" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div> *@


    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
